.blog-container{
    display: flex;
    flex-direction: column;
    background-color: #c1c1c1;
    margin: 5px;
    border-radius: 10px;
    padding: 10px 20px;
}
.blog-header{
    display: flex;
    flex-direction: row;
}
.image-blog{
    width: 170px;
    height: auto;
    border-radius: 5px;
    border: 2px solid white;
    background-color: lightgray;
}
.blog-header-title{
    font-size: 0.9rem;
    display: flex;
    margin: 10px;
}
.tbl-blog-title label{
    font-weight: 600;
}
.tbl-blog-title p{
    margin-left: 5px;
}
.blog-content{
    margin: 5px 10px;
    line-height: 1.5rem;
    font-size: 1.1rem;
}
.blog-footer{
    display: flex;
    justify-content: flex-end;
}
.blog-footer button{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s;
}
.blog-footer button:hover{
    background-color: gray;
    color: white;
}